@{
    ViewBag.PageId = "approve-student";
    ViewBag.Title = "Index";
}
<div class="main-content">
    <h1>Godkend Studerende</h1>

    <section class="approved-table">
        <table>
            <tr>
                <th></th>
                <th class="hidden">ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Hold</th>
                <th>Username</th>
            </tr>

            @foreach (var e in ViewBag.Students)
            {
                <tr>
                    <td><input type="checkbox" class="check"/></td>
                    <td class="hidden">@e.Id</td>
                    <td>@e.Name.FirstName</td>
                    <td>@e.Name.LastName</td>
                    <td>@e.HomeRoomClass.Name</td>
                    <td>@e.Username</td> 
                </tr>
            }
        </table>
    </section>

    <div class="buttons">
        <button id="btn-approve">Godkend</button>
        <button id="btn-reject">Afvis</button>
    </div>
</div>