
<header>
    <h2>@ViewBag.Title</h2>
</header>

<table>
    <tr>
        <th>Underviser</th>
        <th>Fag</th>
        <th>Starttid</th>
        <th>Sluttid</th>
    </tr>
    @foreach (var e in TempData[])
    { 
        <tr>
            <td>@e.Teacher</td>
            <td>@e.Subject</td>
            <td>@e.StartTime</td>
            <td>@e.EndTime</td>
        </tr>
    }
</table>


