@{
    ViewBag.Title = "Index";
    ViewBag.PageId = "daily-repport";
}
<div class="main-content">
    <h1>Dagsrapport</h1>

    <form method="post" action="Filter"> 
            <div class="chose-date">
            <h3>Vælg dato</h3>
                <select name="date" id="date">
                @foreach (var date in ViewBag.Dates) {
                     <option>@date</option>
                }
                </select>
                <input type ="submit" value = "Se rapport" />
           </div>
    </form>
    <div class="repport-table">
        <table>
        <tr>
            <th><input type="checkbox" onclick="checkAllBoxes()" class="master-checkbox"/></th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Fag</th>
            <th>Tid</th>
        </tr>

        @foreach (var e in ViewBag.Bookings)
        {
            <tr>
                <td><input type="checkbox" class="slave-checkbox"/></td>
                <td>@e.Student.Name.FirstName</td>
                <td>@e.Student.Name.LastName</td>
                <td>@e.Subject.Name</td>
                <td>@e.StartTime</td> 
            </tr>
        }
            </table>
    </div>
</div>