<h2>Detailjer</h2>

<p>Id: @ViewBag.ID</p>
<p>Fag: @ViewBag.Subject</p>
<p>Dato: @ViewBag.Date.ToString("dd/MM-yyyy")</p>
<p>Starttidspunkt: @ViewBag.StartTime.ToString("HH:mm")</p>
<p>Sluttidspunkt: @ViewBag.EndTime.ToString("HH:mm")</p>
